@import "myStyle.css";

.messages {
    padding: 0 2rem 2rem 10%;
    overflow: hidden;
}

.messages .img_about {
    width: 50vw;
}

.test {
    animation: bigSmall 2s;
}

@media only screen and (max-width: 600px) {
    .messages {
        padding: 0 2rem 2rem 2rem;
    }

    .messages .img_about {
        width: 80vw;
    }
}

@keyframes bigSmall {
    from {
        font-size: 50px;
        color: blue;
    }

    to {
        font-size: 16px;
    }
}