@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body {
    background-color: rgb(20, 20, 20);
    color: antiquewhite;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
}
img{
    width: 100%;
}
/* scroll to top */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 12px;
    border: none;
    outline: none;
    background: linear-gradient(45deg,rgb(51, 105, 51),rgb(30, 82, 30));
    color: inherit;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    text-transform: uppercase;
}

/*** header ***/
.header {
    font-size: 16px;
    padding: 14px 16px;
    overflow: hidden;
    /* background: linear-gradient(135deg, rgb(11, 11, 11) 82%, rgb(24, 26, 26) 80%); */
    background: linear-gradient(135deg, rgb(24, 26, 26) 80%, rgb(11, 11, 11) 80%);
    /* background:
        linear-gradient(110deg, rgb(180, 0, 0) 16.5%, transparent 16.5%), 
        linear-gradient(110deg, white 33%, transparent 33%), 
        linear-gradient(110deg, rgb(0, 0, 180) 66%, transparent 66%), 
        linear-gradient(110deg, white 82.5%, transparent 82.5%), 
        linear-gradient(110deg, rgb(180, 0, 0) 100%, transparent 100%); */
}
img.logoHere {
    height: 16px;
    width: auto;
}
.header a.logo {
    margin: 0 2% 0 0;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    float: right;
    letter-spacing: 0.1405em;
}
.header a.navigatortab {
    display: flex;
}
.header a.link {
    margin: 0 16px 0 16px;
    letter-spacing: 0.1405em;
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    float: left;
    z-index: 1;
}
/* .header a.login{
    letter-spacing: 0.1405em;
    float: right;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
}
.header a.login1 {
    padding-right: 15px;
    text-decoration: none;
    color: inherit;
} */

/* hover */
.header a.link:hover {
    cursor: pointer;
}
.header a.login:hover {
    cursor: pointer;
}
.header a.logo:hover {
    cursor: pointer;
}


/********** footer **********/
.footer{
    background-color: rgb(24, 26, 26);
}
.footer-one{
    margin: none;
    /* margin: 100px 0 0 0; */
    padding: 5% 0 5% 5%;
    min-height: 200px;
    letter-spacing: 0.082em;
}
.footer-two{
    margin: none;
    padding: 5% 5% 5% 5%;
    height: 100%;
    border-top: 2px solid #999999;
}
#text-footer-one {
    text-align: center;
    justify-items: center;
    padding-bottom: 10px;
    font-size: 30px;
}
#text-footer-two {
    letter-spacing: 0.082em;
    text-align: center;
    justify-items: center;
    padding-bottom: 10px;
    font-size: 20px;
}
#text2-footer-one {
    font-size: 20px;
    padding-bottom: 10px;
}
/* footer-one */
.buttonD{
    display: flex;
    padding: 6px 0;
    margin: 2px 0;
    width: 150px;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    
}
.facebook {
    border:2px solid #3B5998;
    /* transition: all 0.5s ease; */
    background: #3B5998;
}
.lineM {
    border: 2px solid #00b900;
    /* transition: all 0.5s ease; */
    background: #00b900;
}

/* footer-one rows divide */
#footer-row #inside-footer-row-contact,
#footer-row #inside-footer-row-about,
#footer-row #inside-footer-row-spokenlang,
#footer-row #inside-footer-row-codinglang{
    float: left;
    text-align: justify;
    width: 25%;
    /* padding-left: 2.5%;
    padding-right: 2.5%; */
 }
#item1 #footer-row {
    display: table;
}
.top_span {
    margin-top: 2rem;
    color: inherit;
}
.span_footers_spliter {
    background-color: bisque;
}
